    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Criar nova tarefa</h3>
    </div>
    <div class="modal-body">
        <form name="tarefa_form" class="form-horizontal" role="form" novalidate>
            <form-element label="TITULO" mod="tarefa">
                <input type="text" class="form-control" name="titulo" placeholder="Digite o titulo" ng-model="tarefa.titulo" focus/>
            </form-element>
            <form-element label="DESCRIÇÃO" mod="tarefa">
            <textarea class="form-control" name="descricao" placeholder="Digite a descrição da tarefa" ng-model="tarefa.descricao">{{tarefa.descricao}}</textarea>
            </form-element>
           
            
            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancelar</a>
                        <button ng-click="saveTarefa(tarefa);"
                                ng-disabled="tarefa_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

