

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading"> <button type="button" class="btn btn-default fa fa-save" ng-click="open(tarefa);"> Adicionar uma nova tarefa</button> 
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Filtrar: <span class="input-icon">
                        <input placeholder="Filtrar tarefas" class="nav-search-input" ng-model="filterTarefa" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="tarefas.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;Sem dados</td></tr>
    <tr ng-hide="tarefas.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Carregando</td></tr>
    
    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in tarefas | filter:filterTarefa | orderBy:'prioridade'" id="{{c.id}}" animate-on-change='c.id + c.titulo + c.prioridade' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.titulo}}</td><td>{{c.descricao}}</td>
        <td>
            <button class="btn" ng-class="{Alta:'btn-danger', Baixa:'btn-success'}[c.prioridade]" ng-click="changeTarefaStatus(c);">{{c.prioridade}}</button>
        </td>
        <td style="width:100px">
            <div class="btn-group">
              <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>

              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteTarefa(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
              